{% extends 'email/layout/baseEmail.html.twig' %}

{% block title %}Verify Email Change{% endblock %}

{% block heading %}
    Verify your new email address
{% endblock %}

{% block content %}
    <p class="text">
        We received a request to update your email address on your account.
        Please confirm this change by clicking the button below.
    </p>

    <p class="button-wrapper">
        <a href="{{ verifyLink }}" class="button">Confirm email change</a>
    </p>

    <p class="text-muted">
        If you did not request this change, you can ignore this email.
    </p>
{% endblock %}